.header {
    z-index: 1;
    top: 0;
    width: 100%;
    position: absolute;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    justify-content: center;
}

Link {
    direction: none;
    color: white;
}

.header>img {
    object-fit: contain;
    width: 150px;
    height: 30px;
}

#btn {
    padding: 10px;
    border-radius: 15px;
    color: white;
}

#btn:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}